<main class="position-relative w-before">
    <div class="wrapper row col-lg-10 mx-auto pt-4 position-relative">
        
        {{> sidebar}}

        <div class="main-page col-lg-7 mx-auto">

            <div class="header d-flex align-items-center justify-content-between">
                <button class="p-2">
                    <i class="fa fa-align-left" aria-hidden="true"></i>
                </button>
                
                <form class="searchbar d-flex w-100 mx-4 px-2 rounded-1" action="">
                    <input 
                        type="text"
                        placeholder="Search"
                        class="w-100"
                    >
                    <button class="p-2">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </form>

                <i class="fa fa-bell text-white" aria-hidden="true"></i>
                <div class="px-3">
                    <div class="acct-img rounded-circle" style="width: 40px; height: 40px; overflow: hidden;">
                        <img src="/img/footer-advertising@2x.jpg" style="width: 100%; height: 100%;" alt="">
                    </div>
                </div>
            </div>

            <div class="content py-5">
                <div class="row px-0">
                    <div class="pe-lg-3 py-3 col-lg-6">
                        <div class="box bg-red shadow-lg">
                            <h2>{{totalPharmacies}}</h2>
                            <span>Pharmacies</span>
                            <i class="fa fa-first-aid" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="ps-lg-3 py-3 col-lg-6">
                        <div class="box bg-blue shadow-lg">
                            <h2>{{totalDrugs}}</h2>
                            <span>Drugs</span>
                            <i class="fa fa-thermometer-4" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>



                <div class="flex">
                    <div class="rounded-1 bg-white shadow-lg py-5  my-5 ">
                        <canvas class="mx-auto" id="myChartPie" width="250" height="250"></canvas>
                    </div>
                </div>



                <div class="table shadow-lg mb-5"> 
                    <h5>Drugs</h5>
                    <table class="activity">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Drug</th>
                                <th>Pharmacy</th>
                                <th>Auth. PIN</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each drugs}}
                                <tr>
                                    <td><span class="sn"></span></td>
                                    <td>
                                        <a href="/admin/drugs/{{this.drugID}}" style="color: var(--main-col);">
                                            {{this.name}}
                                        </a>
                                    </td>
                                    <td>{{this.pharmacy}}</td>
                                    <td>{{spliter this.authPin '5' '-'}}</td>
                                </tr>
                            {{/each}}
                            <tr>
                                <td></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>



                
                <div class="table shadow-lg"> 
                    <h5>Pharmacies</h5>
                    <table class="activity">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Pharmacy</th>
                                <th>Last Drugs</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each pharmacies}}
                                <tr>
                                    <td><span class="sn"></span></td>
                                    <td>{{this.pharmacy}}</td>
                                    <td>{{this.name}}</td>
                                </tr>
                            {{/each}}
                            <tr>
                                <td></td>
                                <td colspan="2"></td>
                                <td colspan="1"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            
            <footer class="text-center" style="color: #aaa;">
                <p>
                    <strong>&copy; 2021 iDrug</strong>
                </p>
            </footer>
            
        </div>

    </div>

    
</main>



<script src="/js/chart.min.js"></script>
<script>
    var ctx_pie = document.getElementById('myChartPie');
    var myChartPie = new Chart(ctx_pie, {
        type: 'pie',
        data: {
            labels: [
                'Pharmacy',
                'Drugs'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [{{totalPharmacies}}, {{totalDrugs}}],
                backgroundColor: [
                '#1182BC44',
                '#1182BC',
                ],
                hoverOffset: 4
            }]
        },
        options: {
            responsive: false,
            scales: {
            }
        }
    });
</script>