<main class="">
    
    {{!-- <button class="" onclick="">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </button> --}}

    {{#if drug}}
        <div 
            class="col-lg-4 col-12 p-4 py-5 mx-auto"
        >

            <img class="d-block mx-auto" style="height: auto; width: 120px" src="/img/logo2.svg" alt="">


            <div class="col-lg-12 p-3 my-4 rounded-3">
                <img class="d-block mx-auto overflow-hidden rounded-2 shadow-lg" style="height: auto; width: 100%" src="/img/drugs/{{drug.image}}" alt="">
                <h2 class="text-center pt-4 fw-bold" style="color: var(--main-col);">{{drug.name}}</h2>
                {{!-- <small class="d-block text-center pt-3" style="color: var(--main-col); font-size: 11px;">Drug Sample Picture</small> --}}
            </div>
            <div class="col-lg-12 shadow-lg p-3 my-4 rounded-3">
                <small style="color: var(--main-col); font-size: 11px;">Producing Pharmacy</small>
                <p class="m-0 fw-bold">{{drug.pharmacy}}</p>
            </div>
            <div class="col-lg-12 shadow-lg p-3 my-4 rounded-3">
                <small style="color: var(--main-col); font-size: 11px;">Batch Number</small>
                <p class="m-0 fw-bold">{{drug.batchNo}}</p>
            </div>
            <div class="col-lg-12 shadow-lg p-3 my-4 rounded-3">
                <small style="color: var(--main-col); font-size: 11px;">NAFDAC Number</small>
                <p class="m-0 fw-bold">{{drug.nafdacNo}}</p>
            </div>
            <div class="col-lg-12 shadow-lg p-3 my-4 rounded-3">
                <small style="color: var(--main-col); font-size: 11px;">Production Date</small>
                <p class="m-0 fw-bold">{{drug.productionDate}}</p>
            </div>
            <div class="col-lg-12 shadow-lg p-3 my-4 rounded-3">
                <small style="color: var(--main-col); font-size: 11px;">Expiry Date</small>
                <p class="m-0 fw-bold">{{drug.expiryDate}}</p>
            </div>
        </div>

        {{else}}

        <div class="pt-5"></div>
        <div class="py-5 px-4 d-flex flex-column  justify-content-center">
            <i class="fa fa-warning fa-3x text-center" style="color: #e45555;"></i>

            <div class="col-lg-12 shadow-lg p-3 my-4 rounded-3">
                <small class="fw-bold" style="color: #e45555;">Error:</small>
                <h5 class="">
                    Drug not registered.
                </h5>
            </div>
        </div>
    {{/if}}

    <footer class="text-center" style="color: #aaa;">
        <p>
            <strong>&copy; 2021 iDrug</strong>
        </p>
    </footer>
</main>